!!! 5
%html
  %head
    %title= [@title, "Central Oregon Web Professionals Usergroup"].compact.join(" | ")
    = stylesheet_link_tag 'cowpu'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
    :plain
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]--> 
  %body
    %header.top-level
      %hgroup
        %h1 Central Oregon Web Professionals Usergroup
        %h2 Meetings are the last Wednesday of every month
    %nav
      %ul
        %li
          %a{ :href => "/" } Home
        %li
          %a{ :href => "/meetings" } Meetings
    %section
      =yield
    %aside
      %h2 Latest
      %ul.latest
        -@recent.each do |p|
          %li
            %a{:href=>"/#{p.slug}"} #{p.title}
      %h2 Badges & O'Reilly Love
      %ul.img-list
        %li
          %img{:src=>"http://www.cowpu.com/files/cowHeadBadge.jpg", :alt=>"COWPU: Web Geeks Unite!", :class=>"r"}
        %li
          %img{:src=>"http://ug.oreilly.com/images/ads/ug_discount_120x240.gif", :alt=>"O'Reilly User group members save 35% on all titles. Enter discount code: DSUG.", :class=>"l"}
        %li
          %img{:src=>"http://ug.oreilly.com/banners/ug_ad_125_viguy.gif", :alt=>"This User Group is Sponsored by O'Reilly"}
      %h2 Contact Us!
      %p For more information, call Ryan at 503-750-8209 or Timmy 541-306-3374
      %ul
        %li
          %a{:href => "http://groups.google.com/group/cowpu/", :target => 'blank' } Join our e-mail list & forum
        %li
          %a{:href => "#"} Submit a job posting
        %li
          %a{:href => "#"} Other usergroups and resources
    %footer.top-level
      .copyright &copy 2010 Central Oregon Web Professionals Usergroup
      .license No part of the content or the blog may reproduced without prior written permission.
